@import "variables.scss";

:root {
    --color-primary: #007BFF;
    --color-primary-1: #E6F3FF;
    --color-primary-2: #B3D9FF;
    --color-primary-3: #80C1FF;
    --color-primary-4: #4DA8FF;
    --color-primary-5: #1A90FF;
    --color-primary-6: #0073E6;
    --color-primary-7: #0059B3;
    --color-primary-8: #003F80;
    --color-primary-9: #00264D;
    --color-primary-10: #001933;
    --color-tooltip: #0059B3;
    --color-tooltip-bg: #E6F3FF;
    --color-btn-outlined-bg-normal: #0059B3;
    --color-btn-outlined-bg-hover: #E6F3FF;
    --color-btn-outlined-bg-focus: rgba(179, 217, 255, 0.6); /* #B3D9FF99 */
    --color-btn-outlined-bg-active: #B3D9FF;
    --color-btn-outlined-bg-disable: #80C1FF;
    --color-btn-outlined-text-normal: #0059B3;
    --color-btn-outlined-text-hover: #0073E6;
    --color-btn-outlined-text-focus: #0059B3;
    --color-btn-outlined-text-active: #003F80;
    --color-btn-outlined-text-disable: #80C1FF;
    --color-btn-outlined-b-hover: #1A90FF;
    --color-btn-outlined-b-disable: #80C1FF;
    --color-btn-primary-bg-normal: #003F80;
    --color-btn-primary-bg-hover: #0059B3;
    --color-btn-primary-bg-focus: #0073E6;
    --color-btn-primary-bg-active: #003F80;
    --color-btn-primary-bg-disable: #80C1FF;
    --color-btn-primary-text: #FFFFFF;
    
    --color-icon-action-table: #0059B3;
    --background-color-icon-action-table: #E6F3FF;
    --outline-color-icon-action-table: #1A90FF;

    --border-color: #cfcfcf;
    --white-color: #ffffff;
    --black-color: #000000;

     /* Red theme colors */
     --color-red-primary: #FF0000;
     --color-red-light: #FFCCCC;
     --color-red-dark: #B20000;
     --color-red-hover: #FF6666;
     --color-red-active: #CC0000;
     --color-red-disabled: #FF9999;
}

