@import "styles/themes.scss";
@import "styles/variables.scss";

*{
    font-size: 16px !important;
}

.ant-menu-overflow,
.ant-menu-overflow-item{
    background-color: var(--color-primary-4) !important;
}

.ant-menu-item-selected{
    color: var(--color-primary-1) !important;
}

.ant-form-item{
    margin: 0;
}

.hover:hover {
  cursor: pointer;
  opacity: 0.7;  
}